<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BURGERLOGGER</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/materialize.min.css" media="screen,projection">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/materialize.min.js"></script>
    <script src="/assets/js/burgers.js"></script>
</head>
<body class="green lighten-5">
    <header>
        <nav class="green darken-1">
            <div class="nav-wrapper">
                <div class="container">
                    <a href="#" class="brand-logo">BURGERLOGGER</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#"><i class="material-icons">fastfood</i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container center-align">{{{ body }}}</div>
    </main>
    <footer class="page-footer green darken-1 z-depth-5">
        <div class="footer-copyright">
            <div class="container">
                Created by Bryan Lee © 2018 Copyright
                <a class="grey-text text-lighten-4 right" href="#!">University of Utah Full Stack Bootcamp</a>
            </div>
        </div>
    </footer>
</body>
</html>